* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

:root {
    --dark: #2e2f42;
    --text: #434455;
    --ocean: #404bbf;
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}

body {
    margin: auto;
    font-family: var(--main-font);
    color: var(--text);
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.01em;
    max-width: 1440px;
}

.mobile_menu {
    position: absolute;
    width: 459px;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
}

@media(min-width:768px) {
    .mobile_menu {
        display: none;
    }
}

.is-open {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media(min-width:768px) {
    .menu-toggle {
        display: none;
    }
}

.mobile_menu_container {
    margin-top: 80px;
    margin-left: 40px;
}

.mobile_navigation {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    color: #2E2F42;
    list-style: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.mobile_navigation_link {
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.mobile_navigation_link:hover {
    color: #404BBF;
}

.mobile_contactTel {
    text-decoration: none;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 40px;
    font-size: 36px;
    font-weight: 700;
}

.mobile_contactTel:hover {
    color: #4D5AE5;
}

.mobile_contactMail {
    text-decoration: none;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.mobile_contactMail:hover {
    color: #4D5AE5;
}

.menu_close_button {
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: solid 1px #E7E9FC;
    background: #FFFFFF;
    color: #2E2F42;
}


.container {
    width: 480px;
    padding: 0px 15px;
    margin: auto;
}

@media(min-width:768px) {
    .container {
        width: 768px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.doing_container {
    width: 1158px;
    padding: 0px 15px;
    margin: auto;
    display: none;
}

.customer_container {
    width: 480px;
    padding: 0px 15px;
    margin: auto;
    text-align: center;
}

@media(min-width:768px) {
    .customer_container {
        width: 768px;
        width: auto;
        ;
    }
}


.portfolio_button {
    color: #4D5AE5;
    background-color: #E7E9FC;
    width: 116px;
    height: 48px;
    margin: 12px;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.portfolio_button:active {
    background-color: #404BBF;
    color: #FFFFFF;

}

.portfolio_button:hover {
    background-color: #404BBF;
    color: #FFFFFF;

}

.firm_name_top {
    color: #4D5AE5;
    font-family: Raleway;
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}

@media(min-width:768px) {
    .firm_name_top {
        position: relative;
        left: -33px;
        top: 23px;
    }
}


.firm_name {
    color: #4D5AE5;
    font-family: Raleway;
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}

.navigation {
    color: #2E2F42;
    list-style: none;
    font-weight: 500;
    size: 16px;
    line-height: 1.5;

}

.is_active {
    text-decoration: none;
    letter-spacing: 0.01em;
    position: relative;
    display: flex;
    color: #404BBF;
}

.is_active::after {
    background: #404BBF;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 45px;
    border-radius: 2px;
}

.navigation_link {
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.01em;
}

.navigation_link:hover {
    color: #404BBF;
}

.navigation_link:active {
    color: #4D5AE5;
}

.adress {
    font-style: normal;
    padding-left: 370px;
    display: none;
}

@media(min-width:768px) {
    .adress {
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:1200px) {
    .adress {
        padding-left: 200px;
        display: flex;
        flex-direction: row;
        width: 358px;
        position: relative;
        top: 10px;
    }
}

.contact-links {
    text-decoration: none;
    color: #434455;
    padding: 20px;
}

.contact-links:hover {
    color: #404BBF
}

.contact-links:active {
    color: #4D5AE5;
}

@media(min-width:768px) {
    .contact-links {
        padding: 7px;
    }
}

.title_section {
    background-color: #2E2F42;
    width: 428px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office\ 1.jpg");
}

@media(min-width:768px) {
    .title_section {
        width: 768px;
        width: auto;
    }
}

.main_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    width: 320px;
    text-align: center;
    padding-bottom: 24px;
}

@media(min-width:768px) {
    .main_title {
        width: 496px;
        font-size: 56px;
    }
}


.header_button {
    border: none;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
}

.header_button:hover {
    background-color: #404BBF;

}

.modal {
    width: 408px;
    height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.x_button {
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
}

.modalForm_Text {
    margin: 72px 24px 16px 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    size: 16px;
    line-height: 24px;
    color: #2E2F42;
}

.formModal_labelName {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-left: 24px;
}

.formModal_input {
    border: solid 1px #2E2F4266;
    border-radius: 4px;
    margin: 4px 24px 8px 24px;
    padding: 6px;
    width: 100%;
    max-width: 301px;
    resize: none;
    padding-left: 45px;
    letter-spacing: 0.04em;
}


.formModal_input:hover {
    border: solid 1px #4D5AE5;
    outline: none;
}

.formModal_input:focus {
    border: solid 1px #4D5AE5;
    outline: none;
}

.formModal_input:focus-within {
    border: solid 1px #4D5AE5;
    outline: none;
}

.formModal_input_text {
    border: solid 1px #2E2F4266;
    border-radius: 4px;
    margin: 4px 24px 8px 24px;
    padding: 6px;
    width: 100%;
    max-width: 340px;
    resize: none;
    letter-spacing: 0.04em;
}

.formModal_input_text:hover {
    border: solid 1px #4D5AE5;
    outline: none;
}

.formModal_input_text:focus {
    border: solid 1px #4D5AE5;
    outline: none;
}

.formModal_input_text:focus-within {
    border: solid 1px #4D5AE5;
    outline: none;
}

.modalForm_icons {
    position: relative;
    right: -42px;
    top: -32px;
}

.inputModal_container {
    margin-bottom: -17px;
}

.inputModal_container:focus-within {
    fill: #4D5AE5;
}

.formCheckbox {
    width: 16px;
    height: 16px;
    margin-left: 24px;
    border: solid 1px #2E2F4266;
    border-radius: 4px;
}

.policyLink {
    color: #4D5AE5;
    text-decoration: underline;
}

.formModal_button {
    border: none;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    background-color: #4D5AE5;
}

.formModal_sendButton {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 25px;
}

.conditions_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #8E8F99;
}


.target_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 67px;
}

@media(min-width:768px) {
    .target_list {
        padding: 0;
    }
}

@media(min-width:1200px) {
    .target_list {
        align-items: baseline;
    }
}

.target_titles {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 40px;
}

@media(min-width:1200px) {
    .target_titles {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }
}

.doing_pics {
    list-style: none;
    padding: 0px 12px 0px 12px;
}

.goals {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 8px;
    padding-bottom: 72px;
    letter-spacing: 0.02em;
    width: 379px;
}

@media(min-width:768px) {
    .goals {
        width: 356px;
    }
}

@media(min-width:1200px) {
    .goals {
        width: 264px;
    }
}

.goal_list {
    list-style: none;
}

.goals_icon {
    background-color: #F4F4FD;
    padding: 24px 100px 24px 100px;
}

.section_title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 120px 0px 72px 0px;
}


.sectionDoing_title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 0px;
    visibility: hidden;
}

.team_section {
    margin: auto;
    width: 480px;
    background-color: #F4F4FD;
}

@media(min-width:768px) {
    .team_section {
        width: 768px;
        width: auto;
    }
}

.person {
    background: #FFFFFF;
    padding: 32px 16px 32px 16px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2E2F4214;
}

.pic_name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 1.5;
}

.media {
    list-style: none;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.media:hover {
    background-color: #404BBF;
}

.media_footer {
    list-style: none;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.media_footer:hover {
    background-color: #31D0AA;
}

.client {
    list-style: none;
}

.customer_icon {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    fill: #8E8F99;
}

.customer_icon:hover {
    border: 1px solid #404BBF;
    fill: #404BBF
}


.menu_button {
    list-style: none;
}

.portfolio_description {
    border-top: none;
    padding: 32px 0px 32px 0px;
    margin-left: 16px;
    line-height: 1.5;
}

.pic_description {
    color: #2E2F42;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(100 100 255);
    translate: 0 100% 0;
    transition: translate 500ms;
}

li:hover .overlay {
    translate: 0;
}

.overlay_text {
    position: absolute;
    width: 296px;
    height: 96px;
    left: 32px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.social_media_text {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    padding-bottom: 16px;
}

.subscribe_footer {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media(min-width:768px) {
    .subscribe_footer {
        align-items: flex-start;
        position: relative;
        right: 50px;
    }
}

.footerForm_text {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    padding-bottom: 16px;
}

.footerForm_field {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 398px;
    height: 40px;
    background-color: #2E2F42;
    padding-left: 10px;
}

@media(min-width: 768px) {
    .footerForm_field {
        width: 264px;
    }
}


.footerTextButton {
    color: #FFFFFF;
    letter-spacing: 0.04em;
    line-height: 24px;
    padding-right: 16px;
}

.social_media_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 480px;
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media(min-width: 768px) {
    .footer {
        width: 768px;
        width: auto;
    }
}

.footer_text {
    color: #F4F4FD;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    padding-top: 16px;
    width: 268px
}